/*? Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
/*? Birth Stone */
@import url("https://fonts.googleapis.com/css2?family=Birthstone&display=swap");
/*? Niconne */
@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");

:root {
  /** fonts */
  --fn-poppins: "Poppins", "Trebuchet MS", "Lucida Sans", Arial, sans-serif;
  --fn-birthstone: "Birthstone", italic, sans-serif;
  --fn-niconne: "Niconne", italic, sans-serif;

  /** colors */
  --clr-white: white;
  --clr-black: black;
  --clr-primary: #4f5bed;
  --clr-secondary: #f0c36c;
}


* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, li, ul, ol, p {
  margin: 0;
}

*::selection {
  background-color: #d1d5fc;
  color: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;

  --navbar-height: 4rem;
}

.primary__sections {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  /* outline: 2px solid red; */
}

.inner-section-container {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 1rem;
  font-family: var(--fn-poppins);

  padding: 4rem 7rem;
  width: fit-content;
  margin-inline: auto;

  min-height: 45rem;
  max-width: 100rem;
  /* outline: 2px solid red; */
}

/* 
    * NAVBAR SECTION - LuxOrion
*/

.navbar__section {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;

  width: 100vw;
  height: var(--navbar-height);
  padding-inline: 4rem;

  color: var(--clr-black);

  z-index: 999;
  transition: 350ms;
}

.navbar__section * {
  z-index: 2;
}

.navbar-background {
  position: absolute;
  inset: 0;
  background: whitesmoke;
  z-index: 1;
}

.navbar-hamburger {
  display: none;
}

.navbar__section.nav-hidden {
  transform: translateY(-100%);
}

.nav-logo {
  font-family: var(--fn-birthstone);
  font-size: 2rem;
  font-weight: 500;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.nav-list {
  display: flex;
  align-items: center;

  gap: 1rem;
  list-style: none;
}

.nav-list .nav-items {
  position: relative;
  color: var(--clr-black);
  font-family: var(--fn-poppins);
  text-decoration: none;
}

.nav-list .nav-items::after {
  content: "";
  position: absolute;
  inset-inline: 0;
  bottom: -2px;
  margin: auto;

  width: 0;
  height: 2px;

  background: var(--clr-primary);
  transition: 250ms;
}

.nav-list .nav-items.active::after {
  width: 100%;
}

/* 
    * HERO SECTION - LuxOrion
*/

.hero__section {
  min-height: 100vh;
}

.hero__section > div {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.hero__section .upper-tagline {
  font-size: 1rem;
  font-family: var(--fn-poppins);
  font-weight: 400;
  letter-spacing: 2px;
}

.hero__section .person-title {
  font-size: clamp(3.5rem, 7vw, 5rem);
  font-weight: lighter;
  font-family: var(--fn-niconne);
  color: var(--clr-secondary);
}

.hero__section .person-description {
  position: relative;
  font-size: 1rem;
  font-family: var(--fn-poppins);
  text-align: justify;
  padding-left: 1.5rem;
  padding-block: 1rem;
  border-left: 3px solid var(--clr-black);
  margin-bottom: 1rem;
}

.hero__section .view_more-btn {
  color: var(--clr-primary);
  font-size: 1.1rem;
  font-family: var(--fn-poppins);
  text-decoration: none;

  display: flex;
  padding: 0.5rem 2rem;
  width: fit-content;

  background: transparent;
  border: 3px solid var(--clr-primary);
  border-radius: 10px;

  cursor: pointer;
  transition: all 300ms, scale 100ms;
}

.hero__section .view_more-btn i {
  margin-left: 1rem;
  align-self: center;
  padding-bottom: 2px;
}

.hero__section .view_more-btn:hover {
  background: var(--clr-primary);
  color: var(--clr-white);
}

.hero__section .view_more-btn:active {
  scale: 0.95;
}


.hero__section .view_more-btn img {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 10px;
}

.hero__section .hero-illustration {
  width: max(30vw, 13rem);
  height: auto;
  margin-top: 2rem;
}

/*
    * Profile Section - Ifrit + LuxOrion
*/

.profil__section {
  color: var(--clr-black);
}

.profil-title {
  position: relative;
  font-size: 4rem;
  font-family: var(--fn-birthstone);
  font-weight: lighter;
  color: #4f5bed;
  width: fit-content;
  margin-bottom: 4rem;
  margin-left: 2rem;
}

.profil-title::before {
  content: "";
  position: absolute;
  inset-block: 0;
  margin-block: auto;
  right: 120%;

  width: 50vw;
  height: 2px;
  background: var(--clr-black);
}

.profil-title::after {
  content: "";
  position: absolute;
  inset-block: 0;
  margin-block: auto;
  left: 120%;

  width: 50vw;
  height: 2px;
  background: var(--clr-black);
}

.profil-container {
  display: grid;
  grid-template-columns: 1fr .8fr;
  gap: 4rem;
}

/*? Identification Part */

.profil__section .img_part {
  width: 15rem;
  height: 10rem;

  background-image: url("assets/teaching.jpg");
  background-size: cover;
  background-position: center;

  border-radius: 1rem;
  margin-right: 5px;
}

.identity-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.identity-container .identity-info {
  display: flex;
  gap: 1rem;
}

.identity-value p {
  font-weight: 500;
}

.profile-description-container {
  text-align: justify;
}

/*? Education Part */

.education-part {
  padding-block: 3rem;
}

.education-part .education-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 2.5rem;
}

.education-part > .education-title h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

.education-content {
  position: relative;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.education-content > .line-through {
  position: absolute;
  top: 5px;
  left: -1.38rem;
  width: 3px;
  height: 98%;
  background: var(--clr-secondary);
}

.education-content .education-place {
  position: relative;
  font-weight: 600;
}

.education-content .education-place::before {
  content: "";
  position: absolute;
  inset-block: 0;
  margin-block: auto;
  left: -1.8rem;

  width: 1rem;
  height: 1rem;
  border-radius: 50%;

  background: var(--clr-secondary);
}

/*
    * Experience Section - ArstWgn + LuxOrion
*/

.experience__section {
  background-color: #181818;
  color: azure;
}

.experiences_title {
  position: relative;
  font-size: 4rem;
  font-family: var(--fn-birthstone);
  font-weight: lighter;
  color: #f0c36c;
  width: fit-content;
  margin-bottom: 4rem;
  margin-left: 2rem;
}

.experiences_title::before {
  content: "";
  position: absolute;
  inset-block: 0;
  margin-block: auto;
  right: 115%;

  width: 50vw;
  height: 2px;
  background: whitesmoke;
}

.experiences_title::after {
  content: "";
  position: absolute;
  inset-block: 0;
  margin-block: auto;
  left: 115%;

  width: 50vw;
  height: 2px;
  background: whitesmoke;
}

.experience-content-wrapper {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 4rem;
}

.experience-content-wrapper img {
  width: 18rem;
  height: auto;
}

.experience-text-container p {
  display: block;
  font-size: 1rem;
  font-weight: lighter;
  max-width: 65rem;
  text-align: justify;
}

.experience-text-container p:first-child:first-letter {
  float: left;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
  margin-right: 5px;
}

/*
    * Footer Section - ArstWgn    
*/

.footer__section {
  position: relative;
  top: 8rem;
  background-color: var(--clr-black);
  height: max-content;
}

.inner-footer-container {
  padding: 2rem 4rem;
  margin-inline: auto;

  max-height: 16rem;
  max-width: 100rem;
}

.footer__section svg {
  position: absolute;
  left: 0;
  top: -15vw;
  background-color: #181818;
}

.footer__section *:not(svg) {
  z-index: 1;
}

.footer_title {
  font-size: 4rem;
  font-family: var(--fn-birthstone);
  color: #ffffff;
  margin-bottom: 0 !important;
}

.by {
  color: var(--clr-secondary);
  margin-bottom: 0 !important;
}

.team {
  position: relative;
  color: var(--clr-secondary);
  font-family: var(--fn-poppins);
  text-align: start;
  margin-bottom: 1rem;
}

.devteam {
  font-size: 1.4rem;
  color: whitesmoke;
}

.k6 {
  position: relative;
}

.devteam .list-inner span::first-letter {
  color: var(--clr-secondary);
}

.devteam .list-inner span i {
  opacity: .5;
  font-weight: lighter;
}

.footer__section .garis-element {
  width: 2px;
  height: 5rem;
  background: var(--clr-secondary);
  margin-inline: auto;
}

.bi-github,
.bi-instagram {
  color: var(--clr-secondary);
}


/*
    * RESPONSIVE STATION  
*/

@media only screen and (max-width: 920px) {
  .inner-section-container {
    padding-block: 3rem;
  }

  .inner-section-container,
  .inner-footer-container {
    padding-inline: 2rem;
  }

  /*? Navbar Section */
  .navbar__section {
    padding-inline: 1.5rem;
  }

  .nav-list {
    position: absolute;
    top: var(--navbar-height);
    left: 0;

    height: calc(100vh - var(--navbar-height));
    width: 100vw;
    padding: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgba(18, 18, 18, 0.721);
    z-index: -1;
    
    transform: translateY(-100%);
    transition: 500ms ease-in-out;
  }

  .nav-list .nav-items {
    display: block;
    width: 70vw;
    text-align: center;

    color: var(--clr-white);
    font-size: 2rem;
    font-style: italic;

    background: var(--clr-white);
    color: var(--clr-black);
    padding-block: 5px;

    border-radius: 100vmax;
    transition: 250ms;
  }

  .nav-list .nav-items:active {
    background: var(--clr-primary);
    color: white;
  }

  .navbar-hamburger.active ~ .nav-list {
    transform: translateY(0);
  }
  
  .navbar-hamburger {
    display: flex;
    width: 1.8rem;
    height: 1.8rem;
    justify-content: center;
    align-items: center;
  }


  /*? Hero Section */
  .hero__section > div {
    grid-template-columns: 1fr;
  }

  .hero__section .image-part {
    display: none;
  }


  /*? Profile Section */
  .profil__section .img_part {
    width: 100%;
  }


  /*? Experience Section */
  .experience__section {
    padding-bottom: 4rem;
  }

  .experience__section img {
    display: none;
  }
  
  .experience-content-wrapper {
    grid-template-columns: 1fr;
  }


  /*? Footer Section */
  .footer__section {
    top: 0;
  }

  .inner-footer-container {
    max-height: unset;
  }

  .inner-footer-container > div > .garis {
    display: none;
  }

  .inner-footer-container > div > .team-section {
    display: grid;
    width: 100%;
  }

  .footer__section .devteam .icons {
    display: flex;
    gap: 5px;
    flex-wrap: nowrap;
  }

  .footer__section .k6 {
    margin-bottom: 2rem;
  }

}

@media only screen and (max-width: 1050px) {
  /*? Profile Section */
  .profil-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}